@{
    ViewBag.Title = "Đặt hàng thành công";
    var thanhtien = decimal.Zero;
    var TongTien = decimal.Zero;
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .invoice-container {
        width: 800px;
        margin: auto;
        padding: 20px;
        border: 1px solid #000;
    }

    .header-invoice {
        text-align: center;
        margin-bottom: 20px;
    }

        .header-invoice h1 {
            margin: 0;
            font-size: 24px;
        }

        .header-invoice p {
            margin: 5px 0;
        }

    .section {
        margin-bottom: 20px;
    }

        .section h4 {
            background-color: #3498db;
            color: #fff;
            padding: 5px;
            margin: 0;
        }

        .section table {
            width: 100%;
            border-collapse: collapse;
        }

        .section table, .section th, .section td {
            border: 1px solid #000;
        }

        .section th, .section td {
            padding: 10px;
            text-align: left;
        }

    .no-border-rows td {
        border-top: none;
        border-bottom: none;
    }

    .products-table th, .products-table td {
        text-align: center;
    }

    .products-table th {
        background-color: #f2f2f2;
    }

    #btnSendInvoice:hover{
        cursor: pointer;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/trang-chu">Trang chủ</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="col-md-12 text-center">
                <h2>THÔNG BÁO ĐẶT HÀNG</h2>
                <p>Bạn đã đặt hàng thành công. Đơn hàng của bạn sẽ được vận chuyển sớm nhất đến địa chỉ nhận hàng của bạn.</p>
                <div class="section text-center">
                    <button id="btnSendInvoice" class="btn btn-primary">Xuất hoá đơn đến Email</button>
                </div>
                <p>Dưới đây là hoá đơn của bạn</p> <!-- Hiển thị mã hoá đơn từ ViewBag -->
            </div>


            <div class="col-md-12 mb-5">
                <div class="invoice-container">
                    <div class="header-invoice">
                        <h1 class="mb-3" style="font-weight: bold;">HOÁ ĐƠN BÁN HÀNG</h1>
                        <h6><i>Ngày</i> @ViewBag.OrderDate <i>Tháng</i> @ViewBag.OrderMonth <i>Năm</i> @ViewBag.OrderYear</h6>
                        <h6>Số hóa đơn: <span style="color: #45B0E1; font-weight: bold;">@ViewBag.OrderCode</span></h6>
                    </div>
                    <div class="section">
                        <h4>CỬA HÀNG ĐIỆN TỬ VTR</h4>
                        <table class="no-border-rows">
                            <tr>
                                <td>Địa chỉ: Bà Rịa – Vũng Tàu</td>
                            </tr>
                            <tr>
                                <td>Số điện thoại: 0433 428 095</td>
                            </tr>
                            <tr>
                                <td>Website: <a href="http://www.megat5ech.vn">http://www.vtr.vn</a></td>
                            </tr>
                            <tr>
                                <td>Số tài khoản: 099100000933</td>
                            </tr>
                            <tr>
                                <td>Ngân hàng: TMCP Ngoại thương Việt Nam – Chi nhánh Vũng Tàu</td>
                            </tr>
                        </table>
                        <h4>THÔNG TIN KHÁCH HÀNG</h4>
                        <table class="no-border-rows">
                            <tr>
                                <td>Họ tên khách hàng: @ViewBag.CustomerName</td>
                            </tr>
                            <tr>
                                <td>CMND/CCCD: @ViewBag.CCCD</td>
                            </tr>
                            <tr>
                                <td>Địa chỉ giao hàng: @ViewBag.Address</td>
                            </tr>
                            <tr>
                                <td>Số điện thoại: @ViewBag.Phone</td>
                            </tr>
                            <tr>
                                <td>Hình thức thanh toán: @ViewBag.TypePayment</td>
                            </tr>
                        </table>
                    </div>
                    <div class="section">
                        <table class="products-table">
                            <thead>
                                <tr>
                                    <th style="text-align:center; width: 40px;">
                                        STT
                                    </th>
                                    <th style="text-align:center;width: 150px;">
                                        Tên sản phẩm
                                    </th>
                                    <th style="text-align:center;width: 80px;">
                                        Số lượng
                                    </th>
                                    <th scope="col"
                                        style="text-align:center;">
                                        Đơn giá
                                    </th>
                                    <th scope="col"
                                        style="text-align:center;">
                                        Thành tiền
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.OrderDetails != null)
                                {
                                    var orderDetails = ViewBag.OrderDetails as List<MEGATECH.Models.EF.ChiTietHoaDon>;
                                    int stt = 1;

                                    foreach (var item in orderDetails)
                                    {
                                        <tr>
                                            <td style="text-align: center; width: 40px;">@stt</td>
                                            <td style="text-align: center; width: 150px;">@item.Product.Title</td>
                                            <td style="text-align: center; width: 80px;">@item.SoLuong</td>
                                            <td style="text-align: center;">@MEGATECH.Common.Common.FormatNumber(item.GiaBan, 0) VNĐ</td>
                                            <td style="text-align: center;">@MEGATECH.Common.Common.FormatNumber(item.GiaBan * item.SoLuong, 0) VNĐ</td>
                                        </tr>
                                        thanhtien += item.GiaBan * item.SoLuong;
                                        stt++;
                                    }
                                    TongTien = thanhtien;
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <div style="text-align: right; font-weight: bold;">Tổng tiền hàng</div>
                                    </td>
                                    <td><b>@MEGATECH.Common.Common.FormatNumber(thanhtien, 0) VNĐ</b></td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div style="text-align: right; font-weight: bold;">Tổng cộng tiền thanh toán</div>
                                    </td>
                                    <td><b>@MEGATECH.Common.Common.FormatNumber(TongTien, 0) VNĐ</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <table style="width: 100%;">
                        <tr style="text-align: center;">
                            <td><b>Khách hàng</b></td>
                            <td><b>Người bán hàng</b></td>
                        </tr>
                        <tr style="text-align: center;">
                            <td><i>(Ký, họ tên)</i></td>
                            <td><i>(Ký, họ tên)</i></td>
                        </tr>
                        <tr style="text-align: center;">
                            <td style="padding-top: 20px; padding-bottom: 20px;"><i>@ViewBag.CustomerName</i></td>
                            <td style="padding-top: 20px; padding-bottom: 20px;"><i>VTR Store</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnSendInvoice').click(function () {
                var orderCode = '@ViewBag.OrderCode';
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("XuatHoaDon", "ShoppingCart")',
                    data: { orderCode: orderCode },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert("Lỗi khi gửi hoá đơn.");
                    }
                });
            });
        });
    </script>
}


